html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
}

.container {
  padding: 30px;
  background-color: lightgreen;
  margin-bottom: 30px;
}

.box-static {
  left: 100px;
  width: 150px;
  height: 100px;
  background-color: goldenrod;
}

.box-relative {
  /* position: relative; */
  width: 150px;
  height: 100px;
  background-color: darkorchid;
  color: white;
}

.box-absolute {
  /* position: absolute; */
  /* z-index: -1; */
  /* left: 150px; */
  width: 150px;
  height: 100px;
  background-color: sienna;
  color: papayawhip;
}
.box-fixed {  
  /* position: fixed; */
  width: 150px;
  height: 100px;
  background-color: seagreen;
  color: ghostwhite;
}

.small-rectangle-absolute {
  /* position: absolute; */
  /* bottom: 5px; */
  /* right: 5px; */
  width: 100px;
  background-color: orchid;
  border: solid lightgray;
}